.landing-hero-section {
  width: 40%;
  padding: 4vw;
  height: calc(100% - 4vw - 4vw);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button-container {
    gap: 10em;

    > button {
      margin-right: 24px;
    }
  }
}