.landing-hero-section {
  width: 100%;
  height: calc(100% - 3rem - 1vw - 1vw);
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;

  .content {
    width: 40vw;
    position: absolute;
    left: 4vw;

    .button-container {
      gap: 10em;

      > a {
        margin-right: 24px;
      }
    }
  }

  .character {
    height: 100%;
    width: 50%;
  }
}