.cta-section {
  background-color: #646cff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8vh 4vw;

  .message-container {
    > div {
      > span {
        font-size: 2.25rem;
        font-weight: bold;
        line-height: 2.25rem;
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;

      > a:nth-child(1) {
        > button {
          background-color: #fff;
          margin-right: 24px;
          min-width: 146px;
          color: #535bf2;
        }
      }

      > a {
        color: #fff;
        text-align: center;
        min-width: 126px;
      }
    }
  }
}