.nav-header {
  margin: 16px;
  padding: 20px 16px;
  height: calc(100% - 16px - 16px - 20px - 20px);
  width: calc(4rem - 16px - 16px);
  background: #646cff;
  border-radius: 8px;

  > nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    i {
      margin-right: 16px;
    }

    > div:nth-child(1) {
      width: 100%;

      .nav-title {
        display: none;
      }

      .nav-tasks {
        > span {
          font-size: 12px;
          font-weight: bold;
        }

        > ul {
          margin: 0;
          padding: 0;

          > li {
            list-style: none;
            margin: 2px 0;
            padding: 2px 8px;
            cursor: pointer;
            transition: ease-in-out 0.2s;
            border-radius: 5px;

            &:hover {
              background: #7a80ff;
            }

            > a {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #fff;

              > div {
                > i {
                  font-size: 25px;
                }

                > span {
                  display: none;
                }
              }

              > span {
                display: none;
              }
            }
          }
        }
      }
    }

    > div:nth-child(2) {
      > div {
        margin: 2px 0;
        padding: 2px 8px;
        cursor: pointer;
        transition: ease-in-out 0.2s;
        border-radius: 5px;

        > i {
          font-size: 25px;
        }

        > span {
          display: none;
        }

        &:hover {
          background: #7a80ff;
        }
      }
    }
  }
}