.landing-hero-section {
  width: 100%;
  min-height: calc(100% - 3rem - 1vw - 1vw);
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;

  .content {
    width: 40vw;
    position: absolute;
    left: 4vw;

    span {
      font-size: 16px;
    }

    .button-container {
      gap: 10em;

      > a {
        margin-right: 24px;
      }
    }
  }

  .character {
    height: 90vh;
    width: 50vw;
  }
}