.landing-hero-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  .content {
    width: 80vw;

    h1 {
      margin-top: 0;
    }

    .button-container {
      padding-bottom: 2em;

      > a {
        margin-right: 24px;
      }
    }
  }

  .character {
    height: 60vh;
    width: 100vw;
  }
}